html,body {
  margin: 0;
  padding: 0;
  .regular();
  font-size: @main-font-size;
  line-height: @main-line-height;
  color: @black;
  min-width: @container-width;
}

body * {
  box-sizing: border-box;
}
